<p id="notice"><%= notice %></p>


<li>Voici ton email : <%= current_user.email %></li>
<li><%= link_to "Edit email / password", edit_user_registration_path %></li>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
